<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div ng-controller="adminController" class="container">
    <h3 class="center"> View Feedback </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"> id</th>
            <th scope="col">Email</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in feedbackData track by result.id">
            <td> {{ result.id }}</td>
            <td>{{result.email}}</td>
            <td>{{result.description}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>